<h1>Login</h1>

<div class="content">
  <%= form_tag sessions_path do %>

    <%= label_tag :email, "E-Mail-Adresse" %>
    <%= text_field_tag :email, params[:email] %>

    <%= label_tag :password, "Passwort" %>
    <%= password_field_tag :password %>

    <%= submit_tag "Login" %>
  <% end %>
</div>