<h3>
  von 
  <span onmouseover="$('#popup<%= p.id %>').show()" onmouseleave="$('#popup<%= p.id %>').hide()">
    <%= link_to User.find(p.author_id).first_name, "/user/#{p.author_id}/anzeigen" %>
  </span> 
  <%= "am #{p.created_at.strftime("%d.%m.%y")} in #{Category.find(p.category_id).name}"%>
</h3>
<div class="popup" id="popup<%= p.id %>">
  Voller Name: <%= full_name(User.find(p.author_id)) %><br/>
  E-Mail: <%= User.find(p.author_id).email %><br/>
  Aufgabenbereich: <%= User.find(p.author_id).task_area %>
</div>