<% provide(:title, @post.title) %>
<div class="posts">
  <div class="header">
    <h2>
      <%= wrap_title(@post.title) %>
    </h2>
    <%= render 'shared/header_part', p: @post %>
  </div>
  <div class="post">
    <%= wrap(@post.content) %>
  </div>
  <% if signed_in? && (current_user?(@post.author) || current_user.admin?) %>
  <div align="center">
    <br/>
    <%= link_to "Bearbeiten", edit_post_path(@post) %> |
    <%= link_to "Löschen", @post, method: :delete,
                                   data: { confirm: "Diesen Post wirklich löschen?" }%>
  </div>
  <% end %>
</div>