<h1>Neue Kategorie erstellen</h1>

<div class="content">
  <%= form_for(@category) do |f| %>
    <%= render 'shared/error_messages', object: @category %>
    
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    
    
    <%= f.submit "Kategorie erstellen" %>
  <% end %>
</div>