<% provide(:title, @category.name) %>
<h1><%= "#{@category.name} (#{@category.posts.count})" %>
<% if signed_in? && current_user.admin? %>
  <font size="2" spacing="2px">
    <%= link_to "umbenennen", edit_category_path(@category.id) %>
    | <%= link_to "löschen", @category, method: :delete,
                                   data: { confirm: "Kategorie #{@category.name} wirklich löschen? (Zugehörige Posts bleiben erhalten.)" } %>
  </font>
<% end %>
</h1>
<% if @posts.any? %>
  <div class="posts">
    <ol>
      <%= render partial: 'shared/teaser', collection: @posts %>
      <%= will_paginate @posts%>
    </ol>
  </div>
<% end %>