<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <span class="nav pull-left search_field">
          <%= form_tag root_path, method: 'get' do %>
            <%= text_field_tag :search_tags, params[:search_tags] %>
            <%= submit_tag "Suchen", name: nil %>
          <% end %>
        </span>
        <ul class="nav pull-right" style="padding-top: 11px">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Kategorien", categories_path %></li>
          <li><%= link_to "User", users_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Neuer Eintrag", new_post_path %></li>
            <li><%= link_to "Profil", user_path(current_user.id) %></li>
            <li><%= link_to "Logout", logout_path, method: "delete" %></li>
          <% else %>  
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>